body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red {
    border: 1px solid red
}

.green {
    border: 1px solid green;
}

.content {
    width: 100%;
    background: #f2f2f2;
}

.calculadora {
    width: 300px;
    margin: 0 auto;
    background: #d8d8d8;
    border: 1px solid #848484;
    padding-top: 5px;

}

.tela {
    width: 280px;
    
    margin: 0 auto;
}

.tela input {
    width: 272px;
    height: 30px;
    padding-left: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: right;
}

.botoes {
    width: 269px;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.botoes-num {
    width: 200px;
   
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.operador {
    width: 55px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}
.operador-igual {
    width: 55px;
    height: 218px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 5px;
    padding-top: 95px;
    
}

.numeros {
    margin-left: 9px;
    margin-top: 0;
    padding-top: 0;
    width: 269px;
    display: flex;
}
